<oxd-text tag="p" class="shantshrm-copyright">{{ productName }} {{ productVersion }}</oxd-text>
<oxd-text tag="p" class="shantshrm-copyright">&copy; 2005 - {{ copyrightYear}} <a href="http://www.hrm.shants-tech.com" target="_blank">ShantsHRM, Inc</a>. All rights reserved.</oxd-text>
